body {
	background-image: url(../images/bg.jpg);
	background-size: cover;
	font-family: Helvetica, Arial, sans-serif;
}

.important {
	font-weight: bold;
}
.special {
	color: red;
}
.main {
	width: 600px;
	margin: 0 auto;
	padding: 40px;
	background: rgba(255,255,255,0.7);
}

h1 {
	text-align: center;
	font-size: 40px;
	margin: 0;
	font-family: 'Slabo 27px', serif;
}

h2 {
	text-align: center;
	letter-spacing: 5px;
	font-weight: normal;
	text-transform: uppercase;
	font-style: italic;
}

h3:hover {
	text-decoration: underline;
}
h3:after {
	content: ' +';
}
.open:after {
	content: ' -';
}

img {
	border: 10px solid indigo;
	border-radius: 200px/100px 0 0 0;
	margin: 0 auto;
	display: block;
}

p,
ul,
ol {
	line-height: 1.4;
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
	color: #bada55;
	font-weight: bold;
}
a:hover,
a:focus {
	text-decoration: underline;
	color: #ccee88;
}